<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>

  <h3>Welcome</h3>

  <p>
    Hello! Please
  	<a href="login">login</a>
    to our site!
  </p>


  <script>


  </script>

</body>
</html>