<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Input Coordinates<h1>
    <form action="inputted" method="GET">

        <label for="x">X:</label>
        <input id="x" type="text" name="x" required>
        
        <label for="y">Y:</label>
        <input id="y" type="text" name="y"  required>
    
        <input id="sub" type="submit">
    
    </form>
</html>