<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>My CSS experiment</title>
    <style>
      h1 {
        color: blue;
        background-color: yellow;
        border: 1px solid black;
      }

      p {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Whats your name?</h1>
    
    <p> Hello my name is </p><form action="form_handler_01">
      <input name="input_01">
      <input type="submit"> 
    </form><p>!</p>

    <p> Do you like roller coasters?s</p>
    <form action="form_handler_01">
      <input type="checkbox" name="check_01"> <br>
      <input type="checkbox" name="check_02" value="c"> <br>
      <input type="submit"> 
    </form>
    <p> this is a test</p>
  </body>
</html>