
<!DOCTYPE html>
<html>
<head>
    <title>Blog Tutorial Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .main-content {
            width: 80%;
            margin: auto;
            background-color: #f0f0f0;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    </style>
</head>
<body>

<div class="main-content">
    <h1>Welcome to Our Blog</h1>
    <p>This is a <span style="font-weight:bold;">sample blog post</span> where I will talk about my day to day activites!</p>
    <div>
        <img src="/Users/raghavkamineni/Downloads/coding-1920x1282.jpg" alt=" Image" style="width:100%;">
    </div>
    <p><mark>HELLO</mark>, this is my newest blog post on my new <mark>website!</mark></p>
</div>

</body>
</html>
